/* You can add global styles to this file, and also import other style files */
body{
    
    /* background-image: url(./assets/pexels-simon-berger-1323550.jpg); */
    background-size: cover;
    object-fit: cover;
    opacity: 1.2;
    background-color: #1352;
}